import { LitElement, html } from 'lit';
import { AcademyComponentMixin } from '@academy-lit/academy-component-mixin';
// The styles are authored in <component>.styles.scss and compiled to <component>.styles.js
// The CLI ensures a `build:styles` script is added to package.json to generate this file.
import { <%= componentClassName %>Styles } from './<%= componentName %>.styles.js';

export class <%= componentNamePascal %> extends AcademyComponentMixin(LitElement) {
  static get is() {
    return '<%= componentName %>';
  }

  static get properties() {
    return {
      textKey: { type: String, attribute: 'text-key' },
    };
  }

  constructor() {
    super();
    this.textKey = 'I am a <%= componentName %> component';
  }

  static get styles() {
    return [<%= componentClassName %>Styles];
  }

  render() {
    return html`
      <div class="<%= componentName %>">
        ${this.textKey ? this.t(this.textKey) : html`<slot></slot>`}
      </div>
    `;
  }
}
